.textephoto {
	text-indent: 100pt;
	text-align: justify;
	margin-left: 100pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #000090;
	vertical-align: middle;
	left: 100px;
	clip:   rect(auto auto auto 100px);
	width: auto;






}
