.texteaccueil {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #D23C9A;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	text-align: justify;


}
